%blockquote
  This refers to page with id 1.

%h1= @page.title

%p
  %em=time_ago_in_words @page.created_at

%dl
  -@page.fields.each do |field|
    %dt=field.field_definition.key
    %dd=field.value

= simple_format @page.body
