%h1 Category: #{@category.name}

-@category.pages.each do |page|
  %article.clearfix
    %h2=link_to page.title, url_for_page(page)
    %p.text-muted=page.created_at.to_formatted_s :long
    =page.body.html_safe
  %hr

