!!!
%html
  %head
    %meta(charset='utf-8')
    %title Tuts+ CMS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =render "admin_nav"
    .container
      =content_tag :div, notice, class: "flash bg-success" if notice
      =content_tag :div, alert, class: "flash bg-danger" if alert
      = yield
